{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block head %}
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/form/css/style.css">
{% endblock head %}


{% block body %}
  <div class="form">
    <h1><img src="../static/form/images/logo2.png"></h1>
      <ul class="tab-group">
        <li> <a href="{% url 'home' %}" >Log In</a></li>
        <li class="tab active"><a href="#signup">Sign Up</a></li>
      </ul>
      <div class="tab-content">

        <div id="signup">
          <form action="{% url 'signup' %}" method="post" role="form">
            {% csrf_token %}

            {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">

          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}


          <button type="submit" class="button button-block"/>Get Started</button>
          </form>

        </div>

</div> <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="../static/form/js/index.js"></script>
  </div>
{% endblock body %}