<h1>Sign in</h1>

<div ng-switch on="login.status">
    <div ng-switch-when="ok">
        <div ng-switch on="loginformat.status">
            <div ng-switch-when="ok">
                <div class="alert alert-success" role="alert" n-controller="usr">You are log !</div>
            </div>
            <div ng-switch-when="ko">
                <div class="alert alert-danger" role="alert" n-controller="usr">Your email must have a correct format</div>
            </div>
            <div ng-switch-default>
            </div>
        </div>
    </div>
    <div ng-switch-when="ko">
        <div class="alert alert-danger" role="alert" n-controller="usr">Wrong login or password !</div>
    </div>
    <div ng-switch-default>
    </div>
</div>

<form ng-submit="usr.signin()" class="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Enter a valid email address" placeholder="Email" ng-model="usr.user.email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required placeholder="Password" ng-model="usr.user.password">
    </div>

    <button type="submit" class="btn btn-default right" >Sign In</button>
</form>