<h1>Configuration</h1>

<div class="form">
    <form ng-submit="data.sendSettings()" >
   
    <!---          decimation             -->

            <div class="form-group">
                <label for="decimation">Decimation</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#dcmtion" aria-expanded="false" aria-controls="dcmtion">
                    Info
                </button>
                <div class="collapse" id="dcmtion">
                    <div class="well">
                        <p>The Decimation is the number of ignored points you have between two saved points. The values of each saved points are averaged with the ignored ones</p>
                    </div>
                </div>
                <select class="form-control" id="decimation" placeholder="1 or 8" ng-model="data.settings.decimation">
                     <option value="1" ng-click="deci_bool=0">1</option>
                     <option value="8" ng-click="deci_bool=1">8</option>
                </select>
            </div>

    <!---          Start of measurement             -->

            <div class="form-group">
                <label for="b_mesu">Start of measurement x<small>o</small></label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#b_mesu" aria-expanded="false" aria-controls="b_mesu">
                    Info
                </button>
                <div class="collapse" id="b_mesu">
                    <div class="well">
                        <p>The image is made between x<small>o</small> and x<small>f</small> (in mm)</p>
                    </div>
                </div>

                <input ng-if="deci_bool" type="number" class="form-control" id="b_mesu" placeholder="Between 0 and 194" ng-model="data.settings.b_mesu" min="0" max="194" step="1" ng-click="b_mesu_ctrl" required>
                <input ng-if="!deci_bool" type="number"  class="form-control" id="b_mesu" placeholder="Between 0 and 97" ng-model="data.settings.b_mesu" min="0" max="97" step="1" ng-click="b_mesu_ctrl" required>
            </div>
           
    <!---          End of measurement             -->

            <div class="form-group">
                <label for="e_mesu">End of measurement x<small>f</small></label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#e_mesu" aria-expanded="false" aria-controls="e_mesu">
                    Info
                </button>
                <div class="collapse" id="e_mesu">
                    <div class="well">
                        <p>The image is made between x<small>o</small> and x<small>f</small> (in mm)</p>
                    </div>
                </div>
                <input ng-if="deci_bool" type="number" class="form-control" id="e_mesu" placeholder="Between {{data.settings.b_mesu + 1}} and 194" ng-model="data.settings.e_mesu" min={{data.settings.b_mesu+1}} max="194" step="1" required>
                <input ng-if="!deci_bool" type="number" class="form-control" id="e_mesu" placeholder="Between {{data.settings.b_mesu+1}} and 97" ng-model="data.settings.e_mesu" min={{data.settings.b_mesu+1}} max="97" step="1" required>
            </div> 
    <!---          Value of the ramp - beginning             -->

            <div class="form-group">
                <label for="d_ramp">Value of the ramp at the beginning</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#d_ramp" aria-expanded="false" aria-controls="d_ramp">
                    Info
                </button>
                <div class="collapse" id="d_ramp">
                    <div class="well">
                        <p>The ramp drives the TGC (VGA): at 0 there is no amplification, 1 is the  amplification maximum</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="d_ramp" placeholder="Between 0 and 255" ng-model="data.settings.d_ramp" min="0" max="255" step="1" required>
            </div>


    <!---          Value of the ramp - end             -->

            <div class="form-group">
                <label for="e_ramp">Value of the ramp at the end</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#e_ramp" aria-expanded="false" aria-controls="e_ramp">
                    Info
                </button>
                <div class="collapse" id="e_ramp">
                    <div class="well">
                        <p>The ramp drives the TGC (VGA): at 0 there is no amplification, 1 is the  amplification maximum</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="e_ramp" placeholder="Between {{data.settings.d_ramp + 1}} and 255" ng-model="data.settings.e_ramp" min="{{data.settings.d_ramp + 1}}" max="255" step="1" required>
            </div>

    <!---          Angle of the sector            -->
            
            <div class="form-group">
                <label for="angle">Angle of the sector</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#angle" aria-expanded="false" aria-controls="angle">
                    Info
                </button>
                <div class="collapse" id="angle">
                    <div class="well">
                        <p>Total angle of the image</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="angle" placeholder="Between 1 and 180" ng-model="data.settings.angle" min="1" max="180" step="1" required>
            </div>

    <!---          number of lines            -->
        
            <div class="form-group">
                <label for="nb_lin">Number of lines</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#nb_lin" aria-expanded="false" aria-controls="nb_lin">
                    Info
                </button>
                <div class="collapse" id="nb_lin">
                    <div class="well">
                        <p>Number of lines.</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="nb_lin" placeholder="Between 1 and 255" ng-model="data.settings.nb_lin" min="1" max="255" step="1" required>
            </div>


    <!---          number of images           -->

            <div class="form-group">
                <label for="nb_img">Number of images</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#nb_img" aria-expanded="false" aria-controls="nb_img">
                    Info
                </button>
                <div class="collapse" id="nb_img">
                    <div class="well">
                        <p>The number of images.</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="nb_img" placeholder="Between 1 and 50" ng-model="data.settings.nb_img" min="1" max="50" step="1" required>
            </div>


            <div ng-show ="data.process == 'ko'"><button type="submit" class="btn btn-primary col-xs-12" ng-click ="data.setProcess()">Next</button></div>
            <div ng-show ="data.process == 'ok'" class="btn btn-default right">Processing ... please wait a few seconds.</div>
    </form>
</div>
