{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% load humanize %}

{% block title %} {% trans 'Echopen Challenge ' %} {% endblock %}

{% block head %}
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>Echopen Challenge Leaderboard</h1>
  </div>

<div class="container">
  <h2>Submit your code for image denoising</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Time</th>
        <th>Cpu</th>
        <th>ImFi</th>
      </tr>
    </thead>
      {% for r in object %}
      {% if last_run == r.run_id %}
      <tr class="bg-warning">
      {% else %}
      <tr>
      {% endif %}
      <td width="10%"><a href="/{{r.name}}" class="btn btn-info" role="button">{{r.name}}</a></td>
      <td width="10%">{{r.ranking}}</td>
      <td width="10%">{{r.rating}}</td>
      <td width="10%">{{r.time}}</td>
      <td width="10%">{{r.cpu}}</td>
      <td width="10%">100</td>

      <td width="1%"><button class="btn btn-primary glyphicon  glyphicon-download"></button></td>
      <td width="1%"><button class="btn btn-success glyphicon glyphicon-camera"></button></td>
      <td width="1%"><button class="btn btn-warning glyphicon glyphicon-info-sign"></button></td>

      </tr>
      {% endfor %}
  </table>
  <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
    <form role="form" method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
        {% csrf_token %}

        <ul class="pagination">
         {% for val in range %}
        <li><a href='/leaderboard?q=foo&flop=flip&page={{val}}#'>{{val}}</a></li>
        {% endfor %}
        </ul>
        <div>
    </div>


      <button class="btn btn-success glyphicon glyphicon-ok">
          <span>Submit</span>
      </button>
      <button  class="btn btn-warning delete">
        <i class="glyphicon glyphicon-info-sign"></i>
        <span>Info</span>
      </button>

        <a class='btn btn-primary glyphicon glyphicon-upload' type="submit" href='javascript:;' >
            Upload
            <input type="file"  value="{{ file }}" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>

    </div>
    </div>
  </div>
</div>
</form>


{% endblock main %}
